Repository marloncz/lstm-autoencoder: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, mypy

poetry-check:
  name: poetry check
  description: Validate pyproject.toml structure
  entry: poetry check
  pass_filenames: false
  language: system

mypy:
  name: mypy
  description: Optional Static Typing for Python
  entry: poetry run mypy
  args:
  - --config-file=pyproject.toml
  language: system

feat: adds functions for simple feature engineering
  src/lstm_autoencoder/data/feature_engineering.py
  src/lstm_autoencoder/data/make_dataset.py
Due: mypy

feat: adds function for simulating ECG data
  src/lstm_autoencoder/data/ecg_simulation.py
Due: mypy

refactor: renames function and script
  src/lstm_autoencoder/data/simulation.py
Due: mypy

refactor: renames function and script
  src/lstm_autoencoder/data/ecg_simulation.py
Due: mypy

build: adds dependencies
  poetry.lock
  pyproject.toml
Due: poetry-check

feat: removed scripts and adds gitignore
  .gitignore
  src/lstm_autoencoder/features/__init__.py
  src/lstm_autoencoder/features/build_features.py
  src/lstm_autoencoder/models/predict_model.py
Due: mypy

feat: adds class for creating shifting data windows
  src/lstm_autoencoder/data/windowed_dataset.py
Due: mypy

feat: making add_time_features more dynamic
  src/lstm_autoencoder/data/feature_engineering.py
Due: mypy

feat: adds preprocessing script
  src/lstm_autoencoder/data/preprocessing.py
Due: mypy

build: updates env file
  .gitignore
Due: none

build: deletes .env file
  .env
Due: none

feat: adds lstm autoencoder implemented via pytorch
  src/lstm_autoencoder/models/autoencoder.py
Due: mypy

feat: updates main and lunch.json for debugging purpose
  .vscode/launch.json
  src/lstm_autoencoder/main.py
Due: mypy

feat(pipeline): parameters for data processing and training
  src/lstm_autoencoder/conf/main.yaml
  src/lstm_autoencoder/main.py
Due: mypy

fix(path): fixes issue in case of empty string
  src/lstm_autoencoder/models/autoencoder.py
Due: mypy

feat(sim): factor for sd
  src/lstm_autoencoder/data/simulation.py
Due: mypy

feat(model): weighted loss and gradient clipping
  src/lstm_autoencoder/models/autoencoder.py
Due: mypy

refactor(code): removes unused chunk
  src/lstm_autoencoder/models/autoencoder.py
Due: mypy

feat(window): adds averaging method for experiments
  src/lstm_autoencoder/data/windowed_dataset.py
Due: mypy

feat(pipeline): inference, postprocessing and saving preds
  src/lstm_autoencoder/conf/main.yaml
  src/lstm_autoencoder/main.py
Due: mypy

feat(plot): creating plot and save it for corresponding run
  src/lstm_autoencoder/main.py
Due: mypy

feat(pipe): notebook for interactive run
  notebooks/Example Plotting.ipynb
  notebooks/Pipeline_Run.ipynb
Due: none

docs(results): adds plot to README for little showcase
  README.md
  figures/actual_vs_predicted.png
Due: none

refactor(plot): adjusting path for .png
  notebooks/Pipeline_Run.ipynb
Due: none

docs(model): architecture information
  README.md
  figures/architecture_concept.png
Due: none

fix(table): removes additional row
  README.md
Due: none

Path conditions:
  poetry-check: any of: ^pyproject.toml$
  mypy: any of: \.py$
